
  .blog {
    padding-top: 100px;
}

.blog main{
  display: flex;
  justify-content: center;
  margin: 15px 0;
  gap: 2rem;
  flex-wrap: wrap;
}

.blog article{
  width: 300px;
  margin: 10px 0;
}
@media screen and (max-width :1024px){

}